<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329213800653-15alk4bu9d3i3888e6m993h2ub2pmq4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329213800653-15alk4bu9d3i3888e6m993h2ub2pmq4e</string>
	<key>API_KEY</key>
	<string>AIzaSyA1E8BbobECJAZ9M8umTK1aL0zIYMEdjE4</string>
	<key>GCM_SENDER_ID</key>
	<string>329213800653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.petroonishchuk.UIKitAndFirebaseAndPushNotifications01</string>
	<key>PROJECT_ID</key>
	<string>fir-swiftuianduikitproject</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-swiftuianduikitproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329213800653:ios:d2e7b24aa645e0bd077984</string>
</dict>
</plist>